<!DOCTYPE html>
<html lang="en" ng-app="moveware">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVEWARE</title>
    
    <!-- Internal CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/customstyles.css">
    
    <!--External css-->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="vendors/angular-material/css/angular-material.min.css" />
</head>

<body layout="row" ng-controller="AppCtrl" ng-cloak>
    <md-sidenav ng-show="isauthsuccess" layout="column" md-whiteframe="10" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-swipe-left="onSwipeLeft()">
        <md-toolbar class="md-tall md-hue-2" md-whiteframe="4">
            <span flex></span>
            <div layout="column" class="md-toolbar-tools-bottom inset">
                <span></span>
                <div>
                    <h3>{{user.name | uppercase}}</h3>
                </div>
                <div>
                    <h5>{{user.roleName}}</h5>
                </div>
            </div>
        </md-toolbar>
        <md-list>
            <md-item ng-repeat="item in sideNavMenu" ng-click="toggleSidenav(item)" class="cursorPointer">
                <md-item-content layout="row" layout-align="start center" ng-class="{ 'nav-active': item == activeItem }" style="outline: none;">
                    <div class="inset">
                        <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                    </div>
                    <div class="inset">{{item.title}}
                    </div>
                </md-item-content>
            </md-item>
            <md-divider></md-divider>
            <md-subheader ng-if="systemConfig.length != 0">System Configuration</md-subheader>
            <md-item ng-repeat="item in systemConfig" ng-click="toggleSidenav(item)" class="cursorPointer">
                <md-item-content style="margin-left: 50px;" layout="row" layout-align="start center" ng-class="{ 'nav-active': item == activeItem }">
                    <div class="inset">
                        <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                    </div>
                    <div class="inset">{{item.title}}
                    </div>
                </md-item-content>
            </md-item>          
        </md-list>
        <span flex></span>
        <span align="center" layout-padding>{{configurationData.appname}}&nbsp{{configurationData.version}}</span>
    </md-sidenav>
    <div layout="column" class="relative" layout-fill role="main">
        <md-toolbar md-whiteframe="6" ng-if="showMainToolbar()">
            <div class="md-toolbar-tools">
                <md-button ng-click="toggleSidenav()" class="md-icon-button" hide-gt-md aria-label="Menu">
                    <md-icon><ng-md-icon icon="menu"></ng-md-icon></md-icon>              
                </md-button>
                <h1> {{pageTitle}} </h1>
                <span flex></span>
                <md-button class="md-icon-button" ng-if="showSearchIcon" ng-click="showSearchBox()" aria-label="search button">
                    <md-icon><ng-md-icon icon="search"></ng-md-icon></md-icon>              
                </md-button>
                <md-button class="md-icon-button" aria-label="Logout" ng-click="logout()">
                    <md-icon><ng-md-icon icon="exit_to_app"></ng-md-icon></md-icon>              
                </md-button>
            </div>
        </md-toolbar>
        <md-toolbar md-whiteframe="6" ng-show="showSearchToolbar()" style="background-color: white;">
            <div class="md-toolbar-tools">
                <md-input-container id="searchInputContainer" flex-offset="10" flex="80">
                    <label>&nbsp;</label>
                    <input id="searchInputBox" ng-model="searchText" placeholder="Search Items">
                </md-input-container>
                <md-button class="md-fab md-warn md-mini" ng-click="showSearchBox()" aria-label="search button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-content flex ng-view md-scroll-y md-swipe-right="onSwipeRight($event)"></md-content>
    </div>
    
    <!-- Growl Notifications Div -->
    <div data-growl=""></div>
    
    <!-- Loader Div -->
    <div class="overlay" id="mydiv" ng-show="loading">
        <md-progress-circular md-mode="indeterminate" class="ajax-loader" md-diameter="150"></md-progress-circular>
    </div>
    
    <!-- jQuery and Bootstrap Dependencies -->
    <script src="vendors/jquery/js/jquery.min.js"></script>
    <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Angular Dependencies -->
    <script src="vendors/angular/js/angular.min.js"></script>
    <script src="vendors/angular-sanitize/js/angular-sanitize.min.js"></script>
    <script src="vendors/angular-route/js/angular-route.min.js"></script>
    <script src="vendors/angular-growl/js/angular-growl.min.js"></script>
    <script src="vendors/angular-animate/js/angular-animate.min.js"></script>
    <script src="vendors/angular-aria/js/angular-aria.min.js"></script>
    <script src="vendors/angular-material/js/angular-material.min.js"></script>
    <script src="vendors/angular-messages/js/angular-messages.min.js"></script>
    <script src="vendors/moment/js/moment.min.js"></script>
    <script src="vendors/modernizr/modernizr.js"></script> 
    <script src="vendors/angular-chart/js/Chart.min.js"></script>
    <script src="vendors/angular-chart/js/angular-chart.min.js"></script>   
    <script src="assets/material-icons/angular-material-icons.min.js"></script>
    
    <!-- Controllers and Services -->
    <script src="app.js"></script>
    <script src="services.js"></script>
    <script src="controller/appController.js"></script>
    <script src="controller/loginController.js"></script>
    <script src="controller/dashboardController.js"></script>
    <script src="controller/entityTypeController.js"></script>
    <script src="controller/attributeController.js"></script>
    <script src="controller/userSettingsController.js"></script>
</body>

</html>
