<md-dialog aria-label="Add Entity Type" ng-cloak style="width: 50%;">
    <form name="addEntityTypeForm" novalidate autocomplete="off">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{addEntityTypeModalObj.actionType}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">
                        <i class="fa fa-times"></i>
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row">
                    <div flex layout="column" layout-wrap layout-align="center stretch">
                        <md-input-container flex class="md-block">
                            <label>Entity Type Name</label>
                            <md-icon><ng-md-icon icon="mode_edit"></ng-md-icon></md-icon>                            
                            <input type="test" required name="name" ng-model="addEntityTypeModalObj.name">
                        </md-input-container>       
                        <md-input-container>
                            <fieldset class="standard" >
                              <legend>Select Attributes</legend>
                              <div layout="row" layout-wrap flex>
                                <div flex="50" ng-repeat="item in addEntityTypeModalObj.attributes">
                                  <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                                    {{ item.name }}
                                  </md-checkbox>
                                </div>
                              </div>
                            </fieldset>
                        </md-input-container>                 
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="center center">
            <md-button type="submit" ng-click="addEntityTypeForm.$valid && answer(true)">Add</md-button>
            <md-button ng-click="answer(false)">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
