<div ng-init="loadEntityTypes()">
    <md-content>
        <div layout="column" layout-padding>
            <div flex layout="column">
                <div>
                    <table class="table table-bordered table-responsive-md">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                        <tr ng-repeat="entityType in entityTypes">
                            <td>{{entityType.name}}</td>
                            <td>{{entityType.description}}</td>
                        </tr>
                        
                    </table>
                </div>
                <md-input-container layout="row" layout-fill style="height:50px;" class="col-xs-4">
                    <md-button class="md-accent md-raised md-large" ng-click="addEntityType($event)" aria-label="addEntityType">
                        Add Entity Type
                    </md-button>
                </md-input-container>
                
            </div>
        </div>   
    </md-content>
</div>
