<div style="height: 100%; width: 103%;">
    <md-toolbar md-whiteframe="4">
            <div class="md-toolbar-tools">
                <img src="assets/img/moveware.jpg" style="height: 100%;">
            </div>
        </md-toolbar>
    <md-content layout="row" layout-align="center center" style="height: 100%;">
        <div flex-xs="100" flex-sm="50" flex-md="30" flex-lg="30">
            <md-input-container layout="row">
                <input flex type="text" ng-model="user.name" aria-label="username input" style="font-size: 20px; text-align: center;">
            </md-input-container>
            <md-input-container layout="row">
                <input flex type="password" ng-model="user.password" aria-label="pin input" style="font-size: 20px; text-align: center;">
            </md-input-container>
            <md-input-container layout="row" layout-fill style="height:70px;">
                <md-button class="md-accent md-raised md-large" ng-click="login(user)" aria-label="login" style="width:100%;">
                    LOGIN
                </md-button>
            </md-input-container>
        </div>
    </md-content>
</div>
